-r QAChat/Fetcher/requirements.txt
-r QAChat/QA_Bot/requirements.txt
-r QAChat/Processors/requirements.txt
-r QAChat/QA_Bot/requirements.txt
-r QAChat/Slack_Bot/requirements.txt
-r QAChat/Documents/requirements.txt
-r QAChat/VectorDB/requirements.txt
-r Testing/requirements.txt
prettytable
spacy
spacy-language-detection
