# Set loglevel
LOGLEVEL="INFO"

WEAVIATE_URL="http://localhost:8080"

GOOGLE_CLOUD_QA_BOT=http://localhost:8081

DEEPL_TOKEN=TODO
TRANSLATE=false

BLACKLIST_PATH=blacklist.txt

CONFLUENCE_ADDRESS=https://company.atlassian.net/wiki/
CONFLUENCE_USERNAME=your@email.de
CONFLUENCE_TOKEN=TODO
CONFLUENCE_PASSWORD=TODO

CONFLUENCE_SPACE_WHITELIST=YOUR_SPACE,YOUR_SECOND_SPACE

# cpu or cuda
VECTORIZER_DEVICE=cpu

OPENAI_API_KEY=TODO

# for the Slack bot
SLACK_TOKEN=TODO
SLACK_APP_TOKEN=TODO
QA_BOT_URL=TODO

