langchain
nltk
deepl
python-dateutil
pytesseract
pdf2image
pdfminer.six
InstructorEmbedding
sentence-transformers
pandas
requests
slack-sdk
bs4
atlassian-python-api
spacy
pydrive2
google-api-python-client
google-auth
google-auth-oauthlib
python-dotenv
weaviate-client
prettytable
spacy_langdetect